---
---
@charset "utf-8";

@import "bootstrap";

body {
    font-family: Garamond, Times New Roman, serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.translation {
    font-style: italic;
}

p {
    font-size: 14px;
}

.poesia-content > div {
    padding-top: 20px;
}

