---
---
@charset "utf-8";

@import "bootstrap";

body {
    font-family: Garamond, Times New Roman, serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    &.translation {
        font-weight: 400;
    }

    &.site-title {
        text-transform: none;
    }
}

.column h3 {
    // display: inline-block;
    width: 200px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
}

.info {
    margin-bottom: 10px;
}

h4 {
    font-weight: 400;
}

.translation {
    font-style: italic;
}

.text-right {
    text-align: right;
    float: right;
}

p {
    font-size: 14px;
}

.poesia-content > div {
    padding-top: 20px;
}

