---
layout: default
---
<h4>PoetaLuzuriaga.com</h4>
<h1>Escritos de Diego Luzuriaga<br>
<small class="translation">Writings by Diego Luzuriaga</small></h1>

<p><small>Contacto <span class="translation">(contact)</span>: <a href="mailto:diego@luzuriaga.com">diego@luzuriaga.com</a></small></p>

<p>(Todos los textos reproducidos en este sitio: copyright &copy; Diego Luzuriaga)<br>
<span class="translation">All texts reproduced here: copyright &copy; Diego Luzuriaga)</span></p>

<div class="row info">
    <div class="col-sm-8 col-sm-offset-4">
        <p>Es permitida la reproducción parcial o total de las obras presentadas en este sitio web para uso personal o con fines educativos, siempre que se cite al autor y se respeten los derechos de autor correspondientes.</p>
        <p><span class="translation">The partial or complete reproduction of the texts showcased in this website is permitted for personal use or for educational purposes, provided the author is cited and the copyrights are respected.</span></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 column">
        <h3>Poesia<br>
        <small class="translation">Poetry</small></h3>

        {% for poesia in site.poesia %}
            <div class="poesia-section">

                <h4><a href="{{ poesia.url }}">{{ poesia.title }}</a></h4>

                <ol>
                    {% for poem in poesia.poems %}
                        <li>
                            <a href="{{ poesia.url }}#{{ poem.id }}">
                                {{ poem.title }}<br>
                                <span class="translation">{{ poem.title_en }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% endfor %}
    </div>
    <div class="col-sm-6 column">
        <h3>Canciones<br>
        <small class="translation">Songs</small></h3>
    </div>
</div>
